body{
    height: 100%;
    background: linear-gradient(70deg, #553258, #29577f);
}
#Recuadro{
    margin-left: 31%;
    margin-top: 25px;
    margin-block-end: 40px;
    width: 703px;
    height: 880px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}
#imagen{
    margin-top: 10%;
    height: 200px;
    width: 450px;
}
#bienvenida{
    margin-top: 5%;
}
#Cuest{
    margin-top: 10%;
    display: flex;
    flex-direction: column;

}
.Ingreso{
    margin-top: 7%;
    width: 400px;
    border: 0;
    color: grey;
    border-bottom: 3px solid #066993;
}
#remem{
    margin-top: 5%;
}
#pw{
    margin-left: 36%;
}
#botones{
    margin-top: 11%;
      display: flex;
}
.boton{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    margin-left: 7%;
    border: 2px solid #c7d7e2;
}
#login{
    margin-left: 0;
    background-color: #066993;
    border: 0;
    color: white;
}
#Term{
   margin-top: 27%;
   font-size: x-small;

}